/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
html {
  line-height: 1.7;
  letter-spacing: .02em;
  font-family: "sans-serif";
  font-size: var(--font-size-2);
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
  color: var(--primary);
}
